body {
    background-color: #2a2a2a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cards-container {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #3b3b3b;
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-family: 'Get Schwifty', cursive;
    font-size: 1.8em;
    color: #50fa7b;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.1em;
    color: #f8f8f8;
    margin-bottom: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#search-bar-input {
    width: 70%;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #50fa7b;
    color: rgb(6, 6, 6);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #1d9d48;
}
